# Unreal Engine
Binaries/
DerivedDataCache/
Intermediate/
Saved/
.vscode/
.vs/

# Build results
Build/

# Local config
*.suo
*.opensdf
*.sdf
*.user
*.userprefs

# OS junk
.DS_Store
Thumbs.db

# Rider / JetBrains
.idea/